.top {
  background-color: #006076;
  background: url("../images/graphic.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 70vh;
  overflow: hidden;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

.top__content {
  padding: 0 24px;
}

.top__title {
  font-size: 4.8rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.top__lead {
  font-size: 3.2rem;
}

.concept {
  width: 100%;
  padding-bottom: 80px;
  background-color: #ffffff;
  display: block;
  position: relative;
  width: 100%;
  background-image: url("../images/concept_bg.png");
  background-size: 33.3%;
  background-repeat: repeat-x;
}

.concept__content {
  width: 100%;
  padding: 0 24px;
}

.concept__block {
  display: inline-block;
}

.concept__keyimage {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.concept__heading {
  font-size: 2.8rem;
  font-weight: bold;
  color: #006076;
  margin-bottom: 32px;
}

.concept__subheading {
  font-size: 2rem;
  margin-bottom: 24px;
  font-weight: bold;
}

.concept__text {
  text-align: justify;
  line-height: 1.5em;
}

.features {
  width: 100%;
  padding-bottom: 80px;
  background-color: #ffffff;
}

.features__content {
  padding: 0 24px;
  max-width: 1108px;
  margin: 0 auto;
}

.features__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px;
}

.features__heading {
  font-size: 2.8rem;
  font-weight: bold;
  color: #006076;
  margin-bottom: 32px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.features__item {
  width: 100%;
  padding: 24px;
  margin-bottom: 24px;
  background-color: #f8f8f8;
}

.features__index {
  position: relative;
  font-weight: bold;
  margin-left: 8px;
}

.about {
  width: 100%;
  padding-bottom: 80px;
  background-color: #f8f8f8;
  padding: 84px 0;
}

.about__content {
  margin: 0 auto;
  padding: 0 24px;
  margin-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .about__content {
    max-width: 1108px;
    padding: 0 24px;
  }
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 24px 0;
  border-radius: 4px;
}

.about__list--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about__item {
  display: inline-block;
  width: 50%;
  padding: 24px;
  text-align: center;
}

.about__item--single {
  width: 70%;
}

.about__title {
  font-size: 2.8rem;
  font-weight: bold;
  color: #006076;
  margin-bottom: 32px;
}

.learn {
  padding: 84px 0;
}

.learn__content {
  padding: 0 24px;
}

.learn__title {
  font-size: 2.8rem;
  font-weight: bold;
  color: #006076;
  margin-bottom: 32px;
}

.learn__cardlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mdl-card {
  width: 100%;
  margin-bottom: 24px;
}

.mdl-card__content {
  background-color: #f8f8f8;
}

.mdl-card__image {
  width: 100%;
  display: inline-block;
  margin-bottom: 18px;
}

.mdl-card__title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333333;
  padding: 0 24px 8px;
}

.mdl-card__caption {
  color: #333333;
  padding: 0 24px 24px;
}

@media screen and (min-width: 768px) {
  .top__content {
    margin: 0 auto;
    max-width: 1108px;
  }

  .top__title {
    font-size: 6.4rem;
    font-weight: bold;
  }

  .top__lead {
    font-size: 4.0rem;
  }

  .concept__content {
    margin: 0 auto;
    max-width: 1108px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse;
    flex-flow: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .concept__keyimage {
    width: 45%;
  }

  .concept__block {
    margin: 65px 0;
  }

  .features__heading {
    margin: 0 auto 32px auto;
    max-width: 1108px;
  }

  .features__list {
    margin: 0 auto;
    max-width: 1108px;
    margin: 0 auto;
  }

  .features__item {
    width: 32%;
  }

  .about__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about__item {
    width: 20%;
  }

  .about__item--single {
    width: 30%;
  }

  .learn__content {
    margin: 0 auto;
    max-width: 1108px;
    margin: 0 auto;
  }

  .mdl-card {
    width: 32%;
  }

  .mdl-card__caption {
    height: 72px;
  }
}




pre {
padding: 24px;
overflow: auto;
font-size: 85%;
line-height: 1.45;
background-color: #f6f8fa;
border-radius: 3px;
margin-bottom: 8px;
}

code {
  display: inline-block;
  width: 100%;
}

button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
}

.single {
  margin-top: 64px;
  position: relative;
  line-height: 1.5;
}


.content{
  position: relative;
}

.current.scrolled{
  position: fixed;
  top:160px;
}

/*current*/

.current {
  position: absolute;
  top:0;
  right: -2px;
  border: 1px solid #006076;
  padding: 14px 12px 14px 14px;
  background-color: #ffffff;
  z-index: 0;
}

.current ul{
  padding: 18px;
}

.current ul li{
  display: none;
}

.current ul.open li{
  display: block;
}


.current .menu{
  display: inline-block;
  text-align: right;
  width: 100%;
  margin-bottom: 12px;
}

.current .menu{
  margin-bottom:0;
}

.current .dot{
  position: relative;
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-bottom: 1px;
  background-color: #006076;
}

.current .dot::before{
  content: "";
display: inline-block;
position: absolute;
top:-8px;
right: 0;
width: 4px;
height: 4px;
background-color: #006076;
}

.current .dot::after{
  content: "";
display: inline-block;
position: absolute;
top:8px;
right: 0;
width: 4px;
height: 4px;
background-color: #006076;
}


.current ul li {
  border-left: 2px solid #ccc;
  padding: 4px 0 0 32px;
}

.current ul li.active {
  border-left: 2px solid #006076;
}

.current ul ul li{
  border-left: none;
}

/*page*/

.page {
  position: relative;
  background-color: #f8f8f8;
  padding: 24px;
  margin-bottom: 32px;
  font-weight: bold;
  z-index: 1;
}

.page li {
  margin:8px 0 0 20px;
  display: none;
}

.page .open li{
  display: block;
}

.page li.view{
    margin-left:0;
    padding-left: 20px;
    background-color:rgba(0,96,118,0.4);
}

.page button.index {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
}

.page button.index::before {
  display: inline-block;
  content: "";
  width: 7px;
  height: 7px;
  margin-right: 9px;
  margin-bottom: 1px;
  border-top: 2px solid #006076;
  border-right: 2px solid #006076;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.page .open button.index::before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-bottom: 2px;
}


.page li.withchild::before {
  display: inline-block;
  content: "";
  width: 7px;
  height: 7px;
  margin-right: 9px;
  margin-bottom: 1px;
  border-top: 2px solid #006076;
  border-right: 2px solid #006076;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.page li.withchild.open::before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-bottom: 2px;
}

/*content*/

.markdown {
  margin: 0 24px 64px 24px;
}

.markdown p code {
  display: inline;
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, .05);
  border-radius: 3px;
}

.markdown h1 {
  font-size: 32px;
  font-weight: bold;
}

.markdown h2 {
  font-size: 24px;
  color: #006076;
  margin-bottom: 32px;
  font-weight: bold;
}

.markdown h3 {
  font-size: 18px;

}

.markdown h1,.markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6{
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  color: #006076;
}

.markdown p,.markdown ul,.markdown ol{
  margin-bottom: 16px;
}

.markdown ol, .markdown ul {
  padding-left: 2em;
}

.markdown ol{
  list-style-type: decimal;
}

.markdown ul{
  list-style-type: disc;
}

.markdown ol ul{
  list-style-type: circle;
}


.markdown li p {
  margin: 0 0 12px 0;
}



@media screen and (min-width: 768px) {
  .markdown h1 {
    font-size: 40px;
    color: #006076;
  }

  .single::after {
    content: "";
    display: block;
    clear: both;
  }

  .markdown {
    width: 70%;
  }
  .current.open li{
    display: block;
  }

  .current .dot{
    display: none;
  }

  .current {
    width: 25%;
    border: none;
    background-color: none;
  }

  .current {
    padding-top: 0;
  }
  .current .menu{
    margin-bottom: 0;
  }

  .current ul li{
    display: block;
  }

}

@media screen and (min-width: 1000px) {
  .single {
    margin-top: 64px;
    display: flex;
  }

  .page {
    width: 22%;
    margin-bottom: 0;
    margin-right: 2%;
  }

  .page.open li{
    display: block;
  }

  .content{
    display: flex;
    width: 76%;
  }

  .markdown {
    width: 63%;
    margin-right: 3%;
    margin-bottom: 64px;
  }

  .current {
    display: inline-block;
    border: none;
    width: 30%;
    margin-right: 2%;
  }

  .current ul {
    padding: 0;
}

  .current.scrolled{
    position: fixed;
    top:84px;
    width: auto;
  }
  }


  .page li {
    display: block;
  }

  .page p.index {
    display: none;
  }


}
