{{ define "main"}}
<main id="main">
  <div class="error">
  <picture class="error__image">
    <source type="image/webp" srcset="themes/vald/static/image/static_image_404.png.webp" width="187.5"/>
    <img class="features__icon" src="themes/vald/static/image/static_image_404.png" alt="" width="187.5">
  </picture>
   <h1 id="title" class="error__title">404 page not found</h1>
   <p class="error__message"><a class="error__link" href="{{ "/" | relURL }}">Page Top</a></p>
  </div>
</main>
{{ end }}
