{{ define "main"}}
<main id="main">
  <div class="coming">
  <picture class="coming__image">
    <source type="image/webp" srcset="{{ .Site.BaseURL}}/image/static_image_coming.png.webp"　width="187.5"/>
    <img class="features__icon" src="{{ .Site.BaseURL}}/image/static_image_coming.png" alt="" width="187.5">
  </picture>
   <h1 id="title" class="coming__title">Coming soon...</h1>
   <p class="coming__message"><a class="coming__link" href="{{ "/" | relURL }}">Page Top</a></p>
   </div>
</main>
{{ end }}
