<footer class="footer">
  <div class="footer__content cf">
    <ul class="footer__list">
      <li class="footer__item">
        <a href="{{ .Site.BaseURL }}/docs/overview/about-vald" class="footer__link">About<br/></a>
      </li>
      <li class="footer__item">
        <a href="{{ .Site.BaseURL }}/docs/tutorial/get-started" class="footer__link">Get Started<br/></a>
      </li>
      <!-- <li class="footer__item"> -->
        <!-- <a href="" class="footer__link">Docs<br/></a> -->
      <!-- </li> -->
      <li class="footer__item">
        <a href="https://medium.com/@vdaas_vald" target="_blank" class="footer__link">Blog<br/></a>
      </li>
      <li class="footer__item">
        <a href="https://github.com/vdaas/vald" target="_blank" class="footer__link footer__link--button">Github<br/></a>
      </li>
    </ul>
  </div>
  <p class="footer__copylight">©2019-2020 vald.vdaas.org Vald team</p>
</footer>
