<footer class="footer">
  <div class="footer__content cf">
    <ul class="footer__list">
      <li class="footer__item">
        <a href="#concept" class="footer__link">About<br/></a>
      </li>
      <li class="footer__item">
        <a href="https://github.com/vdaas/vald/blob/master/docs/user/get-started.md" class="footer__link">Getstarted<br/></a>
      </li>
      <li class="footer__item">
        <a href="" class="footer__link">Docs<br/></a>
      </li>
      <li class="footer__item">
        <a href="" class="footer__link">Blog<br/></a>
      </li>
      <li class="footer__item">
        <a href="https://github.com/vdaas/vald" class="footer__link footer__link--button">Github<br/></a>
      </li>
    </ul>
  </div>
  <p class="footer__copylight">©2019-2020 vald.vdaas.org Vald team</p>
</footer>
