{{ $latest := "v1.7.10" }}
{{ $ver := "" }}
{{ $docsBaseURL := "/docs" }}

<header class="header" id="header">
  <div class="header__content">
    <nav class="header__nav">
      <a href="{{ .Site.BaseURL }}" class="header-nav__link">
        <picture  class="header-nav__image">
          <source srcset="{{ .Site.BaseURL }}/images/vald_white.svg" media="(prefers-color-scheme: dark)">
          <img src="{{ .Site.BaseURL }}/images/vald_color_1.svg" alt="">
        </picture>
      </a>
      <a class="header-nav__icon" id="nav-btn"><span class="header-nav__button"></span></a>
      {{ if ne .Page.Permalink .Site.BaseURL }}
      {{ $setURL := urls.Parse .Page.Permalink }}
        {{ if (in $setURL.Path "docs/v") }}
          {{ $ver = index (split $setURL.Path "/") 2 }}
          {{ $docsBaseURL = path.Join $docsBaseURL $ver }}
        {{ end }}
      {{ end }}
      <ul class="header__list" id="menu">
        <li class="header__item">
          <a href="{{ $docsBaseURL }}/overview/about-vald" class="header__link">About</a>
        </li>
        <li class="header__item">
          <a href="{{ $docsBaseURL }}/tutorial/get-started" class="header__link">Get Started</a>
        </li>
        <li class="header__item">
          <a href="{{ $docsBaseURL }}/user-guides/sdks" class="header__link">SDKs</a>
        </li>
        <li class="header__item">
          <a href="{{ $docsBaseURL  }}" class="header__link">Docs</a>
        </li>
        <li class="header__item">
          <a href="https://vdaas-vald.medium.com/" target="_blank" class="header__link">Blog<br/></a>
        </li>
        <li class="header__item">
            <details class="header__version" id="version_details">
              <summary class="version__current" id="current_version">
                {{ if ne $ver "" }}
                  {{ $ver }}
                {{ else }}
                  {{ $latest }}
                {{ end }}
              </summary>
              <ul class="version__list">
                <il class="version__item"><a href="javascript:void(0)" class="version__link version__link--latest" class="">{{ $latest }}</a></il>
                <il class="version__item"><a href="javascript:void(0)" class="version__link" >v1.7</a></il>
                <il class="version__item"><a href="javascript:void(0)" class="version__link" >v1.6</a></il>
                <il class="version__item"><a href="javascript:void(0)" class="version__link" >v1.5</a></il>
                <il class="version__item"><a href="javascript:void(0)" class="version__link" >v1.4</a></il>
                <il class="version__item"><a href="javascript:void(0)" class="version__link" >v1.3</a></il>
                <il class="version__item"><a href="javascript:void(0)" class="version__link" >v1.2</a></il>
                <il class="version__item"><a href="javascript:void(0)" class="version__link" >v1.1</a></il>
                <il class="version__item"><a href="javascript:void(0)" class="version__link" >v1.0</a></il>
              </ul>
            </details>
        </li>
        <li class="header__item">
          <a class="header__git" href="https://github.com/vdaas/vald" target="_blank">
            <picture class="git__logo">
              <source srcset="{{ .Site.BaseURL }}/images/logo_github_white.svg" media="(prefers-color-scheme: dark)" class="" width="18" height="18">
              <img src="{{ .Site.BaseURL }}/images/logo_github_black.svg" alt="github" class="" width="18" height="18">
            </picture>
            <div class="git__star">
                <p class=git__starnum id="git-star-num"></p>
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
