{{ $current := .current }}
{{ range .menu }}
  {{ if .HasChildren }}
    {{ $parsedURL :=urls.Parse $current }}
    {{ $base := "/docs/" }}
    <li class="withchild{{ if eq $parsedURL.Path $base }} open {{ end }}" id="menu_{{ .Name }}">
      {{- .Name -}}
      {{ if not (in $current "docs/v") }}
        {{ partial "menu/default.html" (dict "children" .Children "current" $current) . -}}
      {{ else }}
        {{ partial "menu/version.html" (dict "children" .Children "current" $current) . -}}
      {{ end }}
    </li>
  {{ end }}
{{ end }}
