<!-- sidebar start -->
<!-- TODO: attach class "open" nav -->
<aside class="page">
  {{ $current := .Page.Permalink }}
  <nav>
    <button class="index open" id="list-button">Pages</button>
    <ul id="list-body">
      {{ partial "sidebar_category.html" (dict "page" .Site.Menus.overview "current" $current) -}}
      {{ partial "sidebar_category.html" (dict "page" .Site.Menus.tutorial "current" $current) -}}
      {{ partial "sidebar_category.html" (dict "page" .Site.Menus.userguides "current" $current) -}}
      {{ partial "sidebar_category.html" (dict "page" .Site.Menus.usecase "current" $current) -}}
      {{ partial "sidebar_category.html" (dict "page" .Site.Menus.performance "current" $current) -}}
      {{ partial "sidebar_category.html" (dict "page" .Site.Menus.contributing "current" $current) -}}
      {{ partial "sidebar_category.html" (dict "page" .Site.Menus.support "current" $current) -}}
      {{ partial "sidebar_category.html" (dict "page" .Site.Menus.release "current" $current) -}}
    </ul>
  <nav>
</aside>
<!-- sidebar end -->
