{{ define "main" }}
{{ $current := .Page.Permalink }}
{{ partial "sidebar.html" . }}
<div class="content">
  <div class="markdown">
    <h1>Document Overview</h1>
    <p>
      There is the list of document about Vald.<br>
      Let's try to check documents what you want to know.
    </p>

    <h2>Overview</h2>
      <p>
        Overview shows the concept of Vald and mentinos the top level of Vald.
      </p>
      {{ partial "list.html" (dict "menu" .Site.Menus.overview "current" $current) -}}

    <h2>Tutorial</h2>
      <p>
        Tutorial takes you Vald World!!!<br>
        You can deploy Vald in your kubernetes cluster and running Vald with sample code.
      </p>
      {{ partial "list.html" (dict "menu" .Site.Menus.tutorial "current" $current) -}}

    <h2>User Guides</h2>
      <p>
        If you'd like to configure for your Vald Cluster or wonder how to operate, you can find out the answer from these document.
      </p>
      {{ partial "list.html" (dict "menu" .Site.Menus.userguides "current" $current) -}}

    <h2>Usecase</h2>
      <p>
        Usecase supports you image how to use Vald for your services.<br>
        Also, you can get the introduction exapmles.
      </p>
      {{ partial "list.html" (dict "menu" .Site.Menus.usecase "current" $current) -}}

    <h2>Contributing</h2>
      <p>
        We are welcome to contributing for Vald even not as developper.<br>
        Please make sure, how to contribute to Vald.
      </p>
      {{ partial "list.html" (dict "menu" .Site.Menus.contributing "current" $current) -}}

    <h2>Support</h2>
      <p>
        When wondering anything about Vald, please contact to us via Slack or Github.
      </p>
      {{ partial "list.html" (dict "menu" .Site.Menus.support "current" $current) -}}
  </div>
</div>
{{ end }}
