{{ define "main" }}
{{ if gt (len .Content) 0 }}
{{ partial "sidebar.html" . }}
<div class="content">
  <div class="markdown" id="markdown">
    {{ .Content }}
    {{ partial "see_also.html" . }}
  </div>
  {{ partial "toc.html" . }}
</div>
{{ else }}
<div class="error">
<picture class="error__image">
  <source type="image/webp" srcset="{{ .Site.BaseURL }}/images/static_image_404.png.webp" width="187.5"/>
  <img class="features__icon" src="{{ .Site.BaseURL }}/images/static_image_404.png" alt="" width="187.5">
</picture>
 <h1 id="title" class="error__title">404 page not found</h1>
 <p class="error__message"><a class="error__link" href="{{ "/" | relURL }}">Page Top</a></p>
</div>
{{ end }}
{{ if .Page.Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true, theme: 'neutral', darkMode: false });
  </script>
{{ end }}
{{ end }}
